/* /Pages/ProductDetails.razor.rz.scp.css */
.media-img[b-cmdr8s4j50] {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper[b-cmdr8s4j50] {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

@media (max-width: 1023.98px) {
    .media[b-cmdr8s4j50] {
        flex-direction: column;    
    }
    
    .media-img[b-cmdr8s4j50] {
        max-width: 300px;
    }
    
    .media-img-wrapper[b-cmdr8s4j50] {
        width: 100%;
        height: auto;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-w06sy4gooi] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-w06sy4gooi] {
    flex: 1;
}

.sidebar[b-w06sy4gooi] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-w06sy4gooi] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-w06sy4gooi]  a, .top-row[b-w06sy4gooi]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-w06sy4gooi]  a:hover, .top-row[b-w06sy4gooi]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-w06sy4gooi]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-w06sy4gooi] {
        display: none;
    }

    .top-row.auth[b-w06sy4gooi] {
        justify-content: space-between;
    }

    .top-row[b-w06sy4gooi]  a, .top-row[b-w06sy4gooi]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-w06sy4gooi] {
        flex-direction: row;
    }

    .sidebar[b-w06sy4gooi] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-w06sy4gooi] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-w06sy4gooi]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-w06sy4gooi], article[b-w06sy4gooi] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-n71p7ifvtn] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-n71p7ifvtn] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-n71p7ifvtn] {
    font-size: 1.1rem;
}

.oi[b-n71p7ifvtn] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-n71p7ifvtn] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-n71p7ifvtn] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-n71p7ifvtn] {
    padding-bottom: 1rem;
}

.nav-item[b-n71p7ifvtn]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-n71p7ifvtn]  a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-n71p7ifvtn]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-n71p7ifvtn] {
        display: none;
    }

    .collapse[b-n71p7ifvtn] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ProductList.razor.rz.scp.css */
.media-img[b-muke2t3mwf] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.media-img:hover[b-muke2t3mwf] {
    transform: scale(1.1);
}

.media-img-wrapper[b-muke2t3mwf] {
    width: 200px;
    text-align: center;
}

@media (max-width: 1023.98px) {
    .media[b-muke2t3mwf] {
        flex-direction: column;
    }

    .media-img-wrapper[b-muke2t3mwf] {
        width: 100%;
        height: auto;
    }
}

